


<nav id="navbar_top" class="navbar navbar-expand-lg navbar-light" style="background-color: #1e656d;">
    <div class="container" id="navBarFlex">
      <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
      data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" 
      aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
      </button>
      </div>
      <div class="collapse navbar-collapse text-white" id="navbarTogglerDemo01">
        <a ng-hide="vm.isLoggedIn" class="navbar-brand" href="/">Dir X Ubwino<br><small>BookMe</small></a>
        <a ng-show="vm.isLoggedIn" class="navbar-brand" href="/#booking">Dir X Ubwino<br><small>BookMe</small></a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-hide="vm.isLoggedIn" class="nav-item"><a href="/#services" class="nav-link">Services</a></li>
            <li ng-hide="vm.isLoggedIn" class="nav-item"><a href="/#about" class="nav-link">About</a></li>
            <!--<li ng-hide="vm.isLoggedIn" class="nav-item"><a href="/#about" class="nav-link">Terms & conditions</a></li>-->
            <li ng-show="vm.isLoggedIn" class="nav-item"><a href="/#cancelled" class="nav-link">Cancelled Events</a></li>
            <li ng-show="vm.isLoggedIn" ng-click="vm.calendarList()" class="nav-item"><a href="/#concluded" class="nav-link">Concluded Events</a></li>
            <li ng-show="vm.isLoggedIn" ng-click="vm.calendarList()" class="nav-item"><a href="/#calendar" class="nav-link">Scheduled Events</a></li>
            <li ng-hide="vm.isLoggedIn" class="nav-item"><a href="/#login" class="nav-link">SIGN IN</a></li>
            <li ng-show="vm.isLoggedIn" class="nav-item"><a class="nav-link" href="/#login">SIGN OUT</a></li>
       </ul>
      </div>
    </div>
  </nav>

